body {
  padding: 0px;
  margin: 0px;
}

body,
button {
  font-size: 16px;
  font-family: "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background: #ccc;
  color: #2c3e50;
  padding: 4px;
  border-radius: 4px;
}
