body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #2d2d2d;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #0770cf;
}

p,
pre {
  margin: 16px 0;
}

pre {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  background: #f0f0f0;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

code {
  background: #ccc;
  color: #2c3e50;
  padding: 4px;
  border-radius: 4px;
}

a code {
  color: #0770cf;
}

pre code {
  background: transparent;
  padding: 0;
}

.nav {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background: #2c3e50;
  color: #fff;
}

.nav a {
  color: #fff;
}

.nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 80px;
  text-align: center;
}

.nav ul li a:hover {
  background: #344e69;
}

.nav-title {
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0 20px;
}

.main {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 90px);
  display: block;
  box-sizing: border-box;
}

.logo {
  height: 200px;
}

.github {
  align-self: flex-end;
  display: flex;
  background-image: url("../images/github.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
}

.nav-title:hover,
.github:hover {
  background-color: #344e69;
}

.title {
  position: relative;
  margin-bottom: 16px;
  display: block;
}

.luath {
  font-size: 60px;
  margin-right: 12px;
  color: #2c3e50;
  line-height: 60px;
}

.version {
  position: absolute;
  bottom: 8px;
}

.description {
  font-size: 20px;
  display: inline-block;
  width: 100%;
}

.primary {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  background: #2c3e50;
  color: #fff;
  border-radius: 3px;
  border: 0;
}

.primary:hover {
  background: #344e69;
}

.get-started {
  margin: 16px 0;
}

.side {
  padding: 40px 0 0;
  box-sizing: border-box;
  width: 320px;
  border-right: 1px solid #ddd;
  display: block;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background: #fff;
}

.side-menu {
  background: #fff;
  padding: 0;
  margin: 0;
}

.side-menu li {
  list-style: none;
}

.side-menu-section {
  margin-bottom: 32px;
}

.side-menu-title {
  padding: 0 0 0 20px;
  font-weight: bold;
  font-size: 16px;
  margin: 16px 0;
}

.side-menu-links {
  margin: 0;
  padding: 0;
}

.side-menu-item-link,
.side-menu-sub-item-link {
  box-sizing: border-box;
  display: block;
  color: #2d2d2d;
  font-size: 16px;
}

.side-menu-item-link {
  padding: 8px 0 8px 40px;
}

.side-menu-sub-item-link {
  padding: 8px 0 8px 60px;
}

.side-menu-item-link:hover,
.side-menu-sub-item-link:hover {
  color: #0770cf;
}

.side-menu-item-link.active,
.side-menu-sub-item-link.active {
  color: #0770cf;
  border-left: 4px solid #0770cf;
}

.side-menu-item-link.active {
  padding: 8px 0 8px 36px;
}

.side-menu-sub-item-link.active {
  padding: 8px 0 8px 56px;
}

.doc-main {
  padding: 40px;
  margin-left: 320px;
  text-align: left;
  display: block;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 320px);
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.doc-main pre {
  width: calc(100% - 40px);
  margin: 0;
}

.doc-main p,
.doc-main li {
  margin: 16px 0;
  line-height: 32px;
  font-size: 16px;
}

.doc-main h1 {
  margin: 8px 0 40px;
  padding: 0;
  font-size: 32px;
}

.doc-main h2 {
  border-bottom: 1px solid #ddd;
  padding: 0 0 8px;
  margin: 0 0 24px;
  font-size: 24px;
}

.doc-main h3 {
  font-size: 20px;
}

.section {
  margin-bottom: 60px;
}

.subsection {
  margin-bottom: 32px;
}

.open-menu {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='18'%3E%3Cpath d='M0 0h18v2H0zm0 6h18v2H0zm0 6h18v2H0z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: 50%;
  background-color: #2c3e50;
  border-radius: 4px;
  border: 1px solid #2c3e50;
}

.footer {
  margin: 0 0 10px 20px;
  height: 20px;
  display: block;
}

@media (max-width: 899px) {
  .side {
    background: #fff;
    transform: translateX(-320px);
    width: 100%;
    max-width: 320px;
    transition: transform 0.3s ease-out;
    z-index: 5;
  }

  .side.open {
    transform: translateX(0px);
  }

  .open-menu {
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 10;
  }

  .open-menu:hover {
    background-color: #344e69;
  }

  .doc-main {
    width: 100%;
    margin-left: 0;
  }
}
