@import "./colours.css";

.intro,
.meta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--intro-colour);
  text-align: center;
  font-size: 18px;
}

.icon {
  margin: auto;
  display: block;
  height: 300px;
}
